.container {
  padding: 30px;

  display: flex;
  flex-direction: column;

  justify-content: center;
}
.feedImg {
  width: 680px;
  height: 400px;
  /* border-radius: 20px; */
}
.date_category {
  display: flex;
  align-items: center;
  padding: 10px;
}
.category {
  margin-left: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: rgba(107, 112, 119, 0.1);
  font-size: 15px;
}
.title {
  padding: 0 0 20px 0;
  font-weight: bold;
}
