.container {
  padding: 30px;

  display: flex;
  flex-direction: column;

  justify-content: center;
}
.feedImg {
  width: 540px;
  height: 500px;
  /* border-radius: 20px; */
}
.date_category {
  display: flex;
  align-items: center;
  padding: 10px;
}
.category {
  margin-left: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: rgba(107, 112, 119, 0.1);
  font-size: 15px;
}
.title {
  padding: 0 0 20px 0;
  font-weight: bold;
}
.review_input {
  width: 80%;
  height: 30px;
  border-radius: 15px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: none;
  padding: 0 0 0 5px;
  margin-right: 10px;
}
