.container {
  background-color: white;
  margin: 20px 40px 0 20px;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.container > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg {
  width: 100px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
}
.nickname {
  padding: 10px 0;
}
.description {
  padding: 10px 0;
}
.liked {
  padding: 10px 0;
}
