.container {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  margin: 20px;
  margin-bottom: 0;
  /* margin: 0 auto; */
  /* box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px; */
  display: flex;
  flex-direction: column;
}
.mainSection_header {
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.feed {
  /* width: calc(100vw - 600px); */
  /* margin: 20px; */
  box-sizing: border-box;
  margin-bottom: 100px;
  background-color: white;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: fit-content;
}
.upload {
  background-color: white;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: 80px;
  margin-bottom: 20px;
}
.go_upload {
  position: fixed;
  right: 20%;
  bottom: 15%;
  z-index: 1;

  font-weight: bold;
  font-size: 18px;
  padding: 9px 13px;
  background-color: white;
  color: black;
  border: 1px solid rgb(223, 226, 230);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.go_upload:hover {
  background-color: rgb(223, 226, 230);
}
